@model IEnumerable<ProjektniZadatak.Models.Prijem>

@{
    ViewData["Title"] = "Index";
}

<script type="text/javascript" src="~/js/Prijem.js"></script>

<h1>Lista svih prijema</h1>

<p>
    <a asp-action="Create">Dodaj novi prijem</a>
</p>
<br />
<div class="container">
    <div>
        <label>Filtriraj prijeme po datumu:</label>
    </div>
    <form >
        <div class="form-group row">
            <label class="col-md-1 col-form-label">Od:</label>
            <div class="col-md-3">
                 <input type="date" id="startDate" class="form-control" required />
            </div>
            <label class="col-md-1 col-form-label">Od:</label>
            <div class="col-md-3">
                    <input type="date" id="endDate" class="form-control" required />
            </div>
            <div class="col-md-2">
                <input type="button" value="Filtriraj" class="btn btn-primary" id="filterButton" onclick="FilterPrijems()" />
            </div>
        </div>
    </form>
</div>
<br />

<div id="prijemTableContainer">
    @Html.Partial("PrijemsTablePartialView", Model)
</div>