@{
    ViewData["Title"] = "Home Page";
}

<h2 class="text-center m-8">Dobrodošli na stranicu Klinike</h2>

<div class="container text-center m-4">
        <div class="m-3">
            <a asp-action="Index" asp-controller="Ljekar">
                <input type="button" value="Lista ljekara" class="btn btn-outline-primary btn-lg" />
            </a>
        </div>

        <div class="m-3">
            <a asp-action="Index" asp-controller="Pacijent">
                <input type="button" value="Lista pacijenata" class="btn btn-outline-primary btn-lg" />
            </a>
        </div>

        <div class="m-3">
            <a asp-action="Index" asp-controller="Prijem">
                <input type="button" value="Lista prijema" class="btn btn-outline-primary btn-lg" />
            </a>
        </div>
</div>