@model ProjektniZadatak.Models.Nalaz

@{
    ViewData["Title"] = "Create";
    DateTime currentDateTime = DateTime.Now;
    string formattedDateTime = currentDateTime.ToString("dd/MM/yyyy hh:mm tt");
}

<h1>Dodaj nalaz</h1>

<hr />


<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Opis" class="control-label"></label>
                <textarea asp-for="Opis" class="form-control" rows="4"> </textarea>
                <span asp-validation-for="Opis" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="DatumVrijemeKreiranja" type="hidden" value="@formattedDateTime" />
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="PrijemID" value="@Model.PrijemID" />
            </div>
            <div class="form-group">
                <input type="submit" value="Dodaj" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Details" asp-controller="Prijem" asp-route-id="@Model?.PrijemID">Vrati se nazad na prijem</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
