@model ProjektniZadatak.Models.Nalaz

@{
    ViewData["Title"] = "Details";
}

<h1>Pregled nalaza</h1>

<div>
    <h4>Nalaz</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Opis)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Opis)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DatumVrijemeKreiranja)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DatumVrijemeKreiranja)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ID">Uredi nalaz</a> |
    <a asp-action="Delete" asp-route-id="@Model?.ID">Obriši nalaz</a> |
    <a asp-action="Details" asp-controller="Prijem" asp-route-id="@Model?.PrijemID">Vrati se nazad na prijem</a>
    <!--   <a asp-action="Index">Vrati se nazad na listu</a>-->
</div>
